.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main input {
  align-self: stretch;
}
#canvas {
  height: 35em;
  width : 45em;
}
.splitter {
  opacity: 50%;
  user-select: none;
  width: 0.5em;
}
.button-bar {
  display: flex;
}