.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main input {
  align-self: stretch;
}
#rangeHolder {
  display: flex;
  align-self: stretch;
}
#range {
  flex-grow: 1;
}
#canvas {
  height: 20em;
  width : 35.55em;
}